.App {
  text-align: center;
}

.more {
  margin-top: 30px;
}

.thumbnail {
  width: 400px;
  height: 160px;
  overflow: auto;
  white-space: nowrap;
  margin: auto;
}

.thumbnail-image {
  height: 150px;
  width: auto;
  display: inline-block;
  margin-right: 15px;
}

.primary-image {
  width: 400px;
  height: auto;
  margin-top: 25px;
  transition: 2s;
}

.primary-image:hover {
  transform: scale(1.3);
  margin-top: 100px;
}

.right-half {
  height: 100vh;
  background-color: #bbb;
}

.left-half {
  color: #ccc;
  background-color: #333;
  height: 100vh;
  transition: 2s;
  overflow-y: scroll;
}

.left-half:hover {
  color: #222;
  background-color: #222;
}

.main-info {
  width: auto;
  margin: 20px auto;
}

.main-info h4 {
  font-weight: 100;
}

.null {
  background-color: red;
  width: 100px;
  height: 100px;
}
